.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Raleway','Lato';
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.header__inner {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 15px 0;
}

.fas {
  font-size: 45px;
  color: #333;
}

.button-header {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  border: none;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.button-header:hover {
  color: #333;
}

main{
  padding-top: 75px;
}

.theme {
  background-color: #f2f2f2;
  width: 100%;
}

.theme__inner {
  padding-bottom: 250px;
  padding-top: 250px;
  text-align: center;
}

.theme__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.theme__text {
  font-size: 30px;
  color: #c0c0c0;
}

.section {
  background-color: #74cfae;
  width: 100%;
}

.section__inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.section__side {
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.section__content {
  margin: 0 100px;
}

.section__side__title { 
  margin-bottom: 35px;
  font-size: 24px;
}

.section__side__text {
  font-size: 20px;
  line-height: 1.5em;
  font-family: Lato;
  padding-left: 45px;
}

.article {
  width: 100%;
  background-color: #f2f2f2;
}

.article__inner{
  padding-top: 60px;
  padding-bottom: 70px;
}

.article__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.article__content{
  margin-bottom: 90px;
  z-index: 1;
}

.article__content>a {
  float: left;
  margin-right: 100px;
  opacity: 0.7;
  transition: 0.3s;
}

.article__content>a:nth-child(3n) {
  margin-right: 0;
}

.article__content>a:nth-child(n+4) {
  margin-top: 80px;
}

.article__content>a:hover {
  opacity: 1;
}

.article__bottom {
  display: flex;
  align-items: start;
  justify-content: center;
}

.article__bottom__text {
  margin-right: 90px;
  margin-left: 100px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.4em;
  font-size: 20px;
  font-family: Lato;
}

.button-article{
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  width: 140px;
  margin-right: 177px;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
  color: #fff;
}

.button-article:hover {
  color: #333;
}

.figure {
  width: 100%;
  background-color: #4e4e4e;
}

.figure__inner {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.figure__inner__title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 50px;
}

.figure__inner__content {
  display: flex;
  text-align: center;
  justify-content: center;
}

.figure__inner__content>div {
  margin-right: 180px;
}

.figure__inner__content>div:last-child {
  margin-right: 0;
}

.figure__inner__content__title {
  color: #fff;
  margin-top: 10px;
  font-size: 16px;
}

.nav {
  background-color: #f2f2f2;
}

.nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.button-nav {
  width: 185px;
  text-align: center;
  color: #74cfae;
  font-size: 50px;
  padding: 25px 0;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.button-nav .fas{
  color: #74cfae;
}

.button-nav:hover {
  background-color: #fff;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}
.footer__inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__text{
  color: #fff;
  float: right;
}

.footer__inner .fas {
  color: #fff;
  font-size: 15px;
}











